@font-face {
    font-family: 'BEBAS';
    src: url('BEBAS-webfont.eot');
    src: local('BEBAS'), local('BEBAS-webfont'), url('BEBAS-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Franchise';
    src: url('Franchise-Bold-hinted.eot');
    src: local('Franchise'), local('Franchise-Bold-hinted'), url('Franchise-Bold-hinted.ttf') format('truetype');
}
a:hover {
    color: white!important;
}

#social_links a.twitter{
    background-image:url('/css/twitter-icon.png');
}

#social_links a.linkedin{
    background-image:url('/css/linkedin-icon.png');
}

#social_links a.github{
    background-image:url('/css/github-6-icon.png');
}

#social_links a.so{
    background-image:url('/css/stackoverflow-icon.png');
}

#social_links a:hover.twitter{
    background-image:url('/css/twitter-icon-white.png');
}

#social_links a:hover.linkedin{
    background-image:url('/css/linkedin-icon-white.png');
}

#social_links a:hover.github{
    background-image:url('/css/github-6-icon-white.png');
}

#social_links a:hover.so{
    background-image:url('/css/stackoverflow-icon-white.png');
}

#social_links a{
    padding-left: 32px;
    padding-top: 5px;
}

body
{
    font-size: 12px;
    font-family: "Courier New", Courier, monospace;
    color: #202f3b;
    background-color: #701214;
    word-break: hyphenate;
}
.add_buffer {
    padding-top: 61px;
}
.extra {
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid white;
}

.tags a {
    font-weight: bold;
}
#about_me h1, #cv_start h1, #about_me h2, #cv_start h2 {
    color: #FFA200;
}
#about_me, #cv_start {
    color: #BF8B30;
}
#about_me a:link, #about_me a:visited, #about_me a:hover, #about_me a:active,
#cv_start a:link, #cv_start a:visited, #cv_start a:hover, #cv_start a:active {
    color: #BF8B30;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    background: #701214;
}

header .title a {
    text-decoration: none;
}

header a:link, header a:visited, header a:hover, header a:active,
.footer a:link, .footer a:visited, .footer a:hover, .footer a:active {
    color: #67859D;
    font-size: 1.4em;
    text-decoration:none;
}
a:link, a:visited, a:hover , a:active {
    color: #87181c;
}

#social_links {
    padding-top: 13px;
    width: 200px;
    display: inline-block;
}

.small .title {
    float: left;
    display: inline-block;
    width: 300px;
}
.small nav {
    float: right;
    display: inline-block;
    width: 200px;
    padding-top: 13px;
}
.small nav div {
    float: left;
    display: inline-block;
}

header, .footer {
    font-family: 'Franchise';
    font-size: medium;
    text-align: center;
    color: #67859D;
}

.post pre, .post code, code, pre {
    background-color: #d1dee8;
    color: inherit!important;
    font-weight: bold;
    overflow: auto;
}
.post {
    text-align: left;
}

.enbolden {
    font-weight: bold;
}

.article_link .content {
    padding-left: 10px;
    padding-right: 10px;
}
.box0n {
    max-width: 960px;
    margin: 0px auto auto auto;
    font-size: 1.2em;
    text-align: left;
    padding-bottom: 1%;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    border-radius: 10px; /* CSS3 */
}

.alt_colour {
    background-color: #FFA200;
}

.blog_list {
    height: 145px;
    overflow: scroll;
    background: #701214;
    position: fixed;
}

.article_link {
    display: block;
    height: 50px;
    width: 30%;
    background-color: #67859D;
    margin: 0px 5px 5px 5px;
    text-align: left;
    padding: 0% 1% 8% 1%;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    border-radius: 10px; /* CSS3 */
}
.article_content {
    min-height: 100px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 3px #284A7E solid;
}

.main img {
    max-width: 100%;
}

#content_outer {
    margin: 0px auto auto auto;
    width: 100%;
    background-color: #284A7E;
}

.main {
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    border-radius: 10px; /* CSS3 */
}

ul {
    margin-top: 1em;
    list-style-type: none;
    overflow: auto;
}
li {
    margin-top: 0em;
    display: block;
}

#disqus_thread {
    display: none;
}
.display_none {
    display: none;
}
.float_left
{
    float: left;
}
.float_right
{
    float: right;
}
.clear_both {
    clear: both;
}

.overflow_auto {
    overflow: auto;
}

h1, h2, h3 {
    margin-top: 0px;
    font-family: 'Franchise';
    font-size: large;
    font-weight: lighter;
    padding-top: 5px;
    color: #87181c;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.0em;
}


@media all and (max-width: 599px) {
    #social_links {
        display: none;
    }
    .small .title, .small nav, #social_links {
        display: block;
        margin: 0px auto;
        width: 100%;
    }
}

@media all and (max-width: 530px) {
    #social_links {
        display: none;
    }
    .add_buffer {
        padding-top: 115px;
    }
}

@media all and (max-width: 800px) and (min-width: 600px) {
    .small .title, .small nav, #social_links {
        display: block;
        margin: 0px auto;
        width: 100%;
    }
    .add_buffer {
        padding-top: 136px;
    }
}