<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <title>{{ page.title }}</title>

        <!-- Custom CSS -->
        <!-- <link rel="stylesheet" href="/css/main.css"> -->
        <link rel="stylesheet" type="text/css" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/site.css" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <script src="http://code.jquery.com/jquery-latest.js"></script>


        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-16183577-1']);
            _gaq.push(['_trackPageview']);

        </script>
        <script type="text/javascript">
            var dsl = false,dd = 'disqus_thread';
            function showthatshizzle() {
                var ds = 'autonomicpilot';if ( dsl ){return;}dsl = true;
                document.getElementById(dd).style.display = 'block';
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + ds + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            }
        </script>
    </head>
    <body id='home'>

        <div class='overflow_auto'>
            <header class='small'>
                <h1 class="title"><a href="/">{{ site.name }}</a></h1>
                <div id='social_links'>
                    <a class='twitter' target="_blank" href='https://twitter.com/gabriel403'>&nbsp;</a>
                    <a class='linkedin' target="_blank" href='http://uk.linkedin.com/in/gabriel403'>&nbsp;</a>
                    <a class='github' target="_blank" href='https://github.com/gabriel403'>&nbsp;</a>
                    <a class='so' target="_blank" href='http://stackoverflow.com/users/499332/gabriel-baker'>&nbsp;</a>
                </div>
                <nav>
                    <a class="extra home" href="/#home">Home</a>
                    <a class="extra blog" href="/#blog_start">Blog</a>
                    <a class="extra cv" href="/#cv_start">CV</a>
                    <a class="extra portfolio" href="/#portfolio_start">Portfolio</a>
                </nav>
            </header>
