---
layout: default
title: Autonomicpilot - Blog
---

<div id="content_outer">
    <div id="left" class="float_left">
        {% include blogShorts.html %}
        <br class="clear_both" />
    </div>
    <div id="main" class="float_left">
        {{ content }}
    </div>
    <div id="right" class="float_left">
        <div class="box0n">
            {% include tagCloud.html %}
        </div>
        <div class="box0n">
            <h2>Twitter</h2>
                <a class="twitter-timeline" href="https://twitter.com/gabriel403" data-widget-id="346339843627941889" data-chrome="noheader nofooter noborders transparent">Tweets by @gabriel403</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>

    </div>
</div>